.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(232, 9, 9, 0.3)
      ),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
}   
  
  form1{
      background-color: white;
      padding: 0px 60px;
      border-radius: 10px;
      box-sizing: border-box;
      box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
      top: 55%;
      left: 50%;
      position: absolute;
      width: 500px;
      height: 450px;
      transform: translate(-55%, -50%);
  }

  
  h1{
      color: rgb(77, 1, 77);
      text-align: center;
      margin-top: 1rem;
  }
  
  .button{
    color: white;
    background-color: rebeccapurple;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 15px;
    margin-bottom: 30px;
    border: none;
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
    transition: var(--transition);
  }
  .buttonn {
    color: white;
    background-color: rebeccapurple;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 2rem;
    border: none;
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
    transition: var(--transition);
    align-items: center;
  }

  .buttonn:hover {
    background-color: hotpink;
  color: white;
  }
  .button:hover {
    background-color: hotpink;
  color: white;
  }


/* ===== MEDIA QUERIES ( MEDIUM & SMALL screens) ===== */
@media screen and (max-width: 1024px) {
  form {
    background-color: aliceblue;
    /*top: 55%;
    left: 50%;*/
  }
}

@media screen and (max-width: 600px) {
  form {
    background-color:aliceblue;
    top: 55%;
    left: 50%;
    position: absolute;
    width: 500px;
    transform: translate(-55%, -50%);

  }
  
}