.main__header {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.main__header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.main__header-left {
    margin-top: -3rem;
}

.main__header-left h4 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
    
}

.main__header-left h1 {
    padding-left: 1rem;
    font-weight: bold;
}

.main__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 2rem;
    font-family: 'Cabin Sketch';
}
.main__header-right {
    display: grid;
    place-items: flex-end;
    position: relative;
}

.main__header-image {
    width: 47%;
}

/* ====== FOOTER ====== */
footer {
    background: white;
    margin-top: 8rem;
    padding-top: 4rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: 26rem 1fr 1fr;
    gap: 6rem;
}

.footer__container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.7rem;
}

.footer__contaier article p {
    margin-top: 0.5rem;
}

.footer__container article h4 {
    margin-bottom: 0.6rem;
    font-size: 1rem;
    font-weight: bold;
}

.footer__socials {
    margin-top: 1.5rem;
    gap: 1rem;
    display: flex;
    align-items: center;
}

.footer__socials a {
    background: var(--color-gray-100);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}

.footer__socials a:hover {
    background: hotpink;
}


/*==== SECTION HEAD ===== */

.section {
    margin-top: 10rem;
}

.section__head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section__head span {
    background: blueviolet;
    padding: 0.8rem;
    border-radius: 1rem;
    color: lightseagreen;
    font-size: 1.5rem;
}

/*==== FAQs ===== */
.faqs__container {
    margin-top: 3rem;
}
.faqs__wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.faq {
    background: peachpuff;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon {
    background: transparent;
    color: var(--color-gray-600);
    font-size: 1.5rem;
}

.faq p {
    margin-top: 1.5rem;
}


/*======== MEDIA QUERIES (medium screens) ========*/
@media screen and (max-width: 1024px) {
/*MAIN HEADER*/
.main__header {
    height: fit-content;
    padding: 12rem 0;
}

.main__header-container {
    gap: 0;
    grid-template-columns: 1fr;
}

.main__header-left p {
    text-align: center;
    text-decoration: wavy;
    font-size: 1.5rem;
}

.main__header-left h1 {
    font-size: 3rem;
}

.main__header-image {
    display: none;
}

.main__header .btn {
    font-size: 1.5rem;
    text-align: center;
}

/** FAQs**/
.faqs__wrapper {
    grid-template-columns: 1fr;
}

/* FOOTER */
.footer__container {
    grid-template-columns: 1fr 1fr 1fr;
}
 
}

@media screen and (max-width: 600px) {
.footer__container {
        grid-template-columns: 1fr 1fr;
    }
}

