/* @tailwind base; */
@tailwind components;
@tailwind utilities;

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: visible;
  font-family: 'Cabin', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.blur-ellipse {
  background-color: #4D0B5E;
  filter: blur(112.6px) !important;
}
