.App {
    text-align: center;
    padding-top: 5rem;
}
.App 

.app select {
    background-color: blue;
}
.calendar-btn {
    color: black;
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background-color: violet;
    border-radius: 1.5rem;
    transition: var(--transition);
    font-weight: bold;
}

.calendar-btn:hover {
    background: peachpuff;
    color: blueviolet;
    cursor: pointer;
    font: bold;
}

.txt__field input {
    width: 80%;
    padding: 0.9rem 2rem;
    height: 40px;
    font-size: 16px;
    border-radius: 1.5rem;
    background: blue;
    
}

.txt__field DatePicker {
    position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.app input, .app button {
    margin-left: 5px;
}

/* calendar.css */
.calendar-container {
    font-family: 'Cabin Sketch';
    background-color: white;
    width: 90%;
    margin-left: 85px;
    margin-right: 0px;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    font-size: 16px;
    border: 1px solid;
  }
  
.fc-theme-standard td, .fc-theme-standard th {
    background-color: white;
  }
  
  /*===== MEDIA QUERIES ===== */
@media screen and (max-width: 1024px) {
    .calendar-container {
        margin-right: 50px;
    }
}
@media screen and (max-width: 600px) {
    .calendar-container {
        margin-left: 20px;
        place-items: center;
        align-items: center;
    }
}
